[Unit]
Description=Sablier demo service (systemd provider)

[Service]
ExecStart=/run/current-system/sw/bin/sleep infinity

[X-Sablier]
Enable=true
Group=demo

[Install]
WantedBy=default.target
