openapi: "3.1.0"
info:
  title: Sablier API
  description: >
    Sablier is an API that starts containers on demand.
    It provides integrations with multiple reverse proxies and different loading strategies.
  version: "1.0"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    url: https://github.com/sablierapp/sablier

servers:
  - url: https://sablierapp.dev
    description: Production

tags:
  - name: strategies
    description: Start instances using a strategy
  - name: themes
    description: List available themes
  - name: health
    description: Health check

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns 200 OK when the server is healthy, 503 Service Unavailable when the server is shutting down.
      tags: [health]
      responses:
        "200":
          description: Server is healthy
          content:
            text/plain:
              schema:
                type: string
                example: OK
        "503":
          description: Server is shutting down
          content:
            text/plain:
              schema:
                type: string
                example: Service Unavailable

  /api/strategies/dynamic:
    get:
      operationId: startDynamic
      summary: Start instances and serve a dynamic HTML loading page
      description: >
        Starts the requested instances and returns an HTML loading page that auto-refreshes
        until all instances are ready or the session expires. Uses a theme to render the page.
      tags: [strategies]
      parameters:
        - name: names
          in: query
          description: One or more instance names to start. Mutually exclusive with `group`.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          example: ["my-container"]
        - name: group
          in: query
          description: A group label name to start. Mutually exclusive with `names`.
          required: false
          schema:
            type: string
          example: my-group
        - name: theme
          in: query
          description: The name of the HTML theme to render the loading page with.
          required: false
          schema:
            type: string
            default: hacker-terminal
          example: hacker-terminal
        - name: session_duration
          in: query
          description: How long the session should remain alive after the last request (Go duration string).
          required: false
          schema:
            type: string
            default: "5m"
          example: "5m"
        - name: refresh_frequency
          in: query
          description: How often the HTML page polls for status updates (Go duration string).
          required: false
          schema:
            type: string
            default: "5s"
          example: "5s"
        - name: show_details
          in: query
          description: Whether to show per-instance status details in the loading page.
          required: false
          schema:
            type: boolean
            default: true
        - name: display_name
          in: query
          description: A human-readable name to display in the loading page title.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: HTML loading page (may auto-refresh if instances are not ready yet)
          headers:
            X-Sablier-Session-Status:
              description: Whether the session is ready or not-ready at the time of the response.
              schema:
                type: string
                enum: [ready, not-ready]
          content:
            text/html:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/ProblemDetail"
        "404":
          $ref: "#/components/responses/ProblemDetail"
        "500":
          $ref: "#/components/responses/ProblemDetail"

  /api/strategies/blocking:
    get:
      operationId: startBlocking
      summary: Block until all instances are ready or timeout
      description: >
        Starts the requested instances and waits synchronously until all instances are
        ready, returning a JSON session state. Returns 408 if the timeout is reached.
      tags: [strategies]
      parameters:
        - name: names
          in: query
          description: One or more instance names to start. Mutually exclusive with `group`.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          example: ["my-container"]
        - name: group
          in: query
          description: A group label name to start. Mutually exclusive with `names`.
          required: false
          schema:
            type: string
          example: my-group
        - name: session_duration
          in: query
          description: How long the session should remain alive after the last request (Go duration string).
          required: false
          schema:
            type: string
            default: "5m"
          example: "5m"
        - name: timeout
          in: query
          description: Maximum time to wait for all instances to be ready (Go duration string).
          required: false
          schema:
            type: string
            default: "1m"
          example: "1m"
      responses:
        "200":
          description: All instances are ready
          headers:
            X-Sablier-Session-Status:
              description: Always "ready" on a 200 response.
              schema:
                type: string
                enum: [ready]
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    $ref: "#/components/schemas/SessionState"
        "400":
          $ref: "#/components/responses/ProblemDetail"
        "404":
          $ref: "#/components/responses/ProblemDetail"
        "408":
          $ref: "#/components/responses/ProblemDetail"
        "500":
          $ref: "#/components/responses/ProblemDetail"

  /api/themes:
    get:
      operationId: listThemes
      summary: List available themes
      description: Returns the names of all available built-in and custom themes.
      tags: [themes]
      responses:
        "200":
          description: List of theme names
          content:
            application/json:
              schema:
                type: object
                properties:
                  themes:
                    type: array
                    items:
                      type: string
                    example: ["hacker-terminal", "ghost"]

components:
  schemas:
    SessionState:
      type: object
      description: The current state of a session across all requested instances.
      properties:
        instances:
          type: array
          items:
            $ref: "#/components/schemas/InstanceInfoWithError"
        status:
          type: string
          enum: [ready, not-ready]
          description: Aggregate status — "ready" only when all instances are ready.

    InstanceInfoWithError:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [ready, not-ready, starting, error]
        currentReplicas:
          type: integer
        desiredReplicas:
          type: integer
        error:
          type: string
          description: Present only when status is "error".

    ProblemDetail:
      type: object
      description: RFC 9457 Problem Details for HTTP APIs
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string

  responses:
    ProblemDetail:
      description: An error occurred (RFC 9457 Problem Detail)
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/ProblemDetail"
