name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  build:
    name: Build
    permissions:
      contents: read
      id-token: write # OIDC with Codecov
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: 'go.mod'
        cache-dependency-path: go.sum

    - name: Disable AppArmor on the GitHub runner
      uses: cisagov/action-disable-apparmor@437d94f26a2e4bf8c03acfb500a6afc688b497db # v1.0.0

    - name: Enable unprivileged user namespaces
      run: sudo sysctl -w kernel.unprivileged_userns_clone=1

    - name: Test
      run: go test -tags="nomsgpack,remote,exclude_graphdriver_btrfs,containers_image_openpgp" -v -json -race -covermode atomic -coverprofile coverage.txt ./... 2>&1 | go tool -modfile=tools.mod go-junit-report -parser gojson -set-exit-code > junit.xml

    - name: Display JUnit report
      if: ${{ !cancelled() }}
      run: cat junit.xml

    - name: Upload junit report
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: junit-report
        path: junit.xml

    - name: Upload coverage to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        use_oidc: true
        fail_ci_if_error: true

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
      with:
        use_oidc: true
        fail_ci_if_error: true

    - name: Run Basic Test Results Action
      if: ${{ !cancelled() && github.event_name == 'pull_request' }}
      uses: codecov/basic-test-results@c46ff461955b5cd6eb57cbe9ff22f3b77fc15824 # v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: junit.xml
        disable-search: true